ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.error1 {
    width:200px;
    font-size:11px;
    background-color:#cc0000;
    color:#FFFFFF;
    padding:3px;
    margin-left:5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


#headermodify{
	padding-right:50px;
}


#one,#two,#three{
  visibility: hidden;
}
.navbar-default .navbar-nav>.active>a{
  background-color: transparent !important;
  border:1px solid white;
  border-radius: 5%;
  color:white;
}
.navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent !important;
  border:1px solid white;
  border-radius: 5%;
  color:#bdc3c7;/*idhar change kr chutiye*/
}
.navbar-default .navbar-nav > li > a{
  color:white;
}
.navbar-default .navbar-nav > li > a:hover{
  color:#bdc3c7;/*idhar change kr chutiye*/
}

.navbar-header{
  /*color: white;*/
  background-color: transparent;

}
.navbar-fixed-top
{
  color: yellow !important;
  background-color:  transparent !important;
  border:0px !important;
}
.navbar-brand
{
  color:orange !important;
  font-weight: bold;
}

body {
  background-image: url('images/b8.jpg');
  background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  padding-top:140px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar .navbar-default , .navbar-fixed-top {
  background-color:  #b3ccff;
}


a:hover{
  background-color: yellow;

}

.logo {
  height:60px;
  width: 150px;
}

.p{
  font-size:14px;
}

.jumbotron{
  margin-top: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:transparent;
  color:#FFFFFF;
}

